<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>模板渲染</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<form action="add" method="post">
 <input type="text" name="mid" value="fclixiang@sina.com"/><br/>
 <input type="text" name="age" value="16"/><br/>
 <input type="text" name="salary" value="1200.5"/><br/>
 <input type="text" name="birthday" value="2016-10-10"/><br/>
 <input type="submit" value="提交"/>
 <input type="reset" value="重置"/>
</form>

</body>
</html>